body {
    font-size: 0px;
    background-image: url('images/wallpaper.jpg');
}

#github {
    font-size: 20px;
}

#Main {
    display: inline-block;
    width: 500px;
    background-image: url('images/background.jpg');
    margin-left: 35%;
}

button {
    width: 100px;
    height: 100px;
    background-color: white;
}

.textButton {
    opacity: 0;
}

.default {
    background-color: white;
    border: solid 1px black;
    opacity: 0.1;
}

.final {
    background-size: contain;
    background-image: url('images/base.png');
    background-color: pink;
    opacity: 1;
}

.X {
    background-size: contain;
    background-image: url('images/red.png');
    background-color: red;
    opacity: 1;
}

.Y {
    background-size: contain;
    background-image: url('images/yellow.png');
    background-color: yellow;
    opacity: 1;
}

.B {
    background-size: contain;
    background-image: url('images/blue.png');
    background-color: blue;
    opacity: 1;
}

.O {
    background-size: contain;
    background-image: url('images/orange.png');
    background-color: orange;
    opacity: 1;
}

.P {
    background-size: contain;
    background-image: url('images/purple.png');
    background-color: purple;
    opacity: 1;
}

.G {
    background-size: contain;
    background-image: url('images/green.png');
    background-color: green;
    opacity: 1;
}

.focus {
    border: solid 5px black;
}

#loader {
    position: absolute;
    display: inline-block;
}

#load {
    height: 20px;
    width: 70px;
}

#preload_area {
    background-image: url('images/orange.png');
    background-image: url('images/red.png');
    background-image: url('images/base.png');
    background-image: url('images/purple.png');
    background-image: url('images/green.png');
    background-image: url('images/yellow.png');
    background-image: url('images/blue.png');
    width: 0px;
    height: 0px;
    display: inline;
}

#tutorial {
    width: 500px;
    font-size: 19px;
    opacity: 1;
}

a {
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

li {
    color: white;
}

#tutorial {
    margin-left: 35%;
}

a:visited {
    text-decoration: none;
    color: white;
}
